In [4]:
import numpy as np
import pandas as pd

In [3]:


book_df = pd.read_csv("C:\\Users\\King\\Downloads\\Books.csv", low_memory=False, on_bad_lines='skip', encoding='latin-1')
user_df = pd.read_csv("C:\\Users\\King\\Downloads\\Users.csv", low_memory=False, on_bad_lines='skip', encoding='latin-1')
rating_df = pd.read_csv("C:\\Users\\King\\Downloads\\Ratings (1).csv", low_memory=False, on_bad_lines='skip', encoding='latin-1')

In [ ]:
user_df.head()

In [ ]:
book_df.head(3)

In [ ]:
rating_df.head(3)

In [ ]:
print('This shape of Books datasheet is : ',book_df.shape)
print('='*30)
print('This shape of Ratings datasheet is : ',rating_df.shape)
print('='*30)
print('This shape of Users datasheet is : ',user_df.shape)

In [ ]:
print(book_df.info())

In [ ]:
print(book_df.isnull().sum())

#### Checking  for  null value in book author

In [ ]:
book_df[book_df['Book-Author'].isna()]

#### Filling the null value

In [ ]:
book_df.loc[187689, 'Book-Author'] = 'Larissa Anne Downes'

#### Checking null values in publisher

In [ ]:
book_df[book_df['Publisher'].isna()]

#### Replacing NaNs with correct  values

In [ ]:
book_df.loc[128890, 'Publisher'] = 'Mundania Press LLC'
book_df.loc[129037, 'Publisher'] = 'NovelBooks, Incorporated,'

#### insepcting the values in year of publication

In [ ]:
book_df['Year-Of-Publication'].unique()

Name of few publication companies have been incorrectly put in this column.There are values such as 0 ,2024,2030 , 2037 etc. which is also not possible .Let's rectify these mistakes

#### correcting this error

In [ ]:
book_df[book_df['Year-Of-Publication'] == 'DK Publishing Inc']

#### Update book information for ISBN '078946697X'

In [ ]:
book_df.loc[book_df.ISBN == '078946697X', ['Year-Of-Publication', 'Book-Author', 'Publisher', 'Book-Title']] = \
    2000, "Michael Teitelbaum", "DK Publishing Inc", "DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)"

#### Update book information for ISBN '0789466953'

In [ ]:
book_df.loc[book_df.ISBN == '0789466953', ['Year-Of-Publication', 'Book-Author', 'Publisher', 'Book-Title']] = \
    2000, "James Buckley", "DK Publishing Inc", "DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)"

#### checking the rows having 'Gallimard' as yearOfPublication

In [ ]:
book_df.loc[book_df['Year-Of-Publication'] == 'Gallimard',:]

In [ ]:
book_df.loc[book_df.ISBN=='2070426769','Year-Of-Publication']=2003
book_df.loc[book_df.ISBN=='2070426769','Book-Author']='Jean-Marie Gustave Le ClÃ?Â©zio'
book_df.loc[book_df.ISBN=='2070426769','Publisher']='Gallimard'
book_df.loc[book_df.ISBN=='2070426769','Book-Title']="Peuple du ciel, suivi de 'Les Bergers"

#### Checking if the corrections are in place

In [ ]:
book_df.loc[book_df['ISBN'].isin(['2070426769','0789466953','078946697X'])]

In [ ]:
book_df['Year-Of-Publication'].describe()

#### changing dtype of year of publication

In [ ]:
book_df['Year-Of-Publication'] =book_df['Year-Of-Publication'].astype(int)

In [ ]:
book_df['Year-Of-Publication'].describe()

#### something is off about years of publication like:

In [ ]:
book_df[(book_df['Year-Of-Publication'] > 0) & (book_df['Year-Of-Publication'] < 1800)]

#### replacing with correct  values

In [ ]:
book_df.loc[book_df.ISBN=='	9643112136','Year-Of-Publication'] = 2010
book_df.loc[book_df.ISBN=='964442011X', 'Year-Of-Publication'] = 1991

#### Sustituting np.Nan in rows with year=0 or  greater than the current year,2022.

In [ ]:
book_df.loc[(book_df['Year-Of-Publication'] > 2022) | (book_df['Year-Of-Publication'] == 0),'Year-Of-Publication'] = np.NAN


#### replacing NaN values with median value of Year-Of-Publication

In [ ]:
book_df['Year-Of-Publication'].fillna(int(book_df['Year-Of-Publication'].median()), inplace=True)

In [ ]:
book_df['Book-Author'].value_counts()

In [ ]:
book_df['Publisher'].value_counts()

#### Inspecting the missing values in 'Publisher' column

In [ ]:
book_df.loc[book_df.Publisher.isnull(),:]

In [ ]:
book_df.duplicated().sum()

#### Uppercasing the ISBN numbers and Book-Author name

In [ ]:
book_df['ISBN']=book_df['ISBN'].str.upper()
book_df['Book-Author']=book_df['Book-Author'].str.upper()

#### Checking for duplicates in books_df

In [ ]:
book_df[book_df.duplicated()]

In [ ]:
book_df.duplicated().sum()

#### Dropping the rows with the entire column values are duplicated

In [ ]:
book_df.drop_duplicates(keep="first",inplace=True)
book_df.reset_index(drop=True,inplace=True)

In [ ]:
book_df.duplicated().sum()

# **Users Data**


---

#### displaying the top 10 and bottom 10 rows of the dataframe

In [ ]:
pd.concat([user_df.head(10),user_df.tail(10)],axis=0)

#### inspecting the columns in users_df

In [ ]:
user_df.info()

* There are records of 278858 users in this dataframe.There are 3 columns in this dataframe.
* The 'Age' column has null values

In [ ]:
user_df['Age'].isnull()

#### How much missing values in users_df

In [ ]:
print(user_df.isnull().sum())

#### Percentage of missing values in users_df

In [ ]:
print(user_df.isnull().sum()/len(user_df)*100)

#### summarizing data in 'Age' column

In [ ]:
user_df['Age'].describe()

* The maximum value in the 'Age' column is 244. This is certainly an outlier.

In [ ]:
import seaborn as sns
sns.set_style('white')
import matplotlib.pyplot as plt

In [ ]:
#Histogram showing distribution of ages
fig=plt.figure(figsize=(12,6))
plt.subplot(1,2,1)
sns.histplot(x='Age',data=user_df)

#boxplot of Age column
plt.subplot(1,2,2)
sns.boxplot(x='Age',data=user_df)

* Most of the users are from the age group 25-50
* It is highly unlikely to have users under the age of 4 and above 100.The peaks near 0 and 100 in the kdeplot indicates that there are some outlier values in the 'Age' column

#### replacing the outliers in 'Age' with NaN value

In [ ]:
user_df.loc[(user_df['Age']>95)|(user_df['Age']<4),'Age']=np.nan

#### Calculate mean age and  Fill missing values with mean age

In [ ]:
mean_age = user_df['Age'].mean()

user_df['Age'].fillna(mean_age, inplace=True)

#### percentage of missing values in 'Age' column

In [ ]:
(user_df['Age'].isnull().sum()/len(user_df))*100

# Now let's inspect the 'Location' column.

In [ ]:
top_locations = user_df['Location'].value_counts().head(10)
print("Top locations by user count:")
print(top_locations)

#### number of unique values in 'Location'

In [ ]:
user_df['Location'].nunique()

### Extracting country names from the "Location" column

In [ ]:
user_df['Country'] = user_df['Location'].str.extract(r'\,+\s?(\w*\s?\w*)\"*$')

In [ ]:
user_df['Country']

In [ ]:
top_countries = user_df['Country'].value_counts().head(5)
print("Top countries by user count:")
print(top_countries)

## **Ratings data**


---

#### displaying the first 5 rows

In [ ]:
rating_df.head()

In [ ]:
rating_df.info()

#### checking null values

In [ ]:
rating_df.isna().sum()

#### checking for unique user ids and isbn values

In [ ]:
unique_user_ids = rating_df['User-ID'].nunique()
unique_isbn_values = rating_df['ISBN'].nunique()
print("Number of unique user ids is", unique_user_ids, "and ISBN no. is", unique_isbn_values)

> *This means that many users are buying multiple books. Also some books are really famous and hence are bought by multiple users.*

#### checking for duplicates

In [ ]:
rating_df[rating_df.duplicated()].sum()

#### lets see if all the books in rating_df are also in books_df

In [ ]:
rating_df_new = rating_df[rating_df['ISBN'].isin(book_df['ISBN'])]

In [ ]:
rating_df_shape = rating_df.shape
rating_df_new_shape = rating_df_new.shape
print("Shape of rating_df:", rating_df_shape, "and rating_df_new:", rating_df_new_shape)

1149780 - 030617 = 119163 , there are 119163 ISBN number is not there in Book dataset

In [ ]:
rating_df_new['Book-Rating'].value_counts().reset_index()

The majority of books (646,974) in the dataset have received an implicit rating, we can observe that ratings of 8, 10, 7, and 9 are the most common explicit ratings given by users to the books in the dataset, with ratings of 8 being the most prevalent among them.

##### most popular books

In [ ]:
rating_df_new.groupby('ISBN')['Book-Rating'].count().reset_index().sort_values(by='Book-Rating', ascending=False)[:10]


> *but this contains both explicit and implicit rating, so we need to seperate them to get better idea.*

In [ ]:
explicit_rating = rating_df_new[rating_df_new['Book-Rating'] != 0]
implicit_rating = rating_df_new[rating_df_new['Book-Rating'] == 0]
print('Shape of explicit rating: {} and implicit rating: {}'.format(explicit_rating.shape, implicit_rating.shape))

In [ ]:
explicit_shape = explicit_rating.shape
implicit_shape = implicit_rating.shape
print("Shape of explicit rating:", explicit_shape, "and implicit rating:", implicit_shape)

### most purchased books including the implicitely rated books

In [ ]:
implicit_rating.groupby('ISBN')['User-ID'].count().reset_index().sort_values(by='User-ID', ascending=False)[:10]['ISBN'].values

#### getting the book names corresponding to these ISBNs

In [ ]:
isbn_nums = ['0971880107', '0316666343', '0060928336', '0385504209',
       '044023722X', '067976402X', '0440214041', '0312195516',
       '0804106304', '0375727345']
book_df[book_df['ISBN'].isin(isbn_nums)]

### most popular explicitely rated books

In [ ]:
explicit_rating.groupby('ISBN')['Book-Rating'].count().reset_index().sort_values(by='Book-Rating', ascending=False)[:10]

### getting the book names corresponding to these ISBNs

In [ ]:
isbn_nums = ['0316666343', '0971880107', '0385504209', '0312195516', '0060928336']
book_df[book_df['ISBN'].isin(isbn_nums)]


> *therefore the most popular book is 'The Lovely Bones: A Novel'*

In [ ]:
merged_df = pd.merge(book_df, explicit_rating, on = 'ISBN')
df_new = pd.merge(merged_df,user_df, on = 'User-ID' )

In [ ]:
df_new

In [ ]:
df_new.shape

In [ ]:
df_new.isnull().sum()

In [ ]:
df_new.duplicated().sum()

In [ ]:
df_new.info()

In [ ]:
df_new['Year-Of-Publication'] = df_new['Year-Of-Publication'].astype(int)

# Exploratory data analysis

### Top 10 Books read by the users.

In [ ]:
most_read_books = df_new['Book-Title'].value_counts().reset_index()
most_read_books.columns = ['Book','Count']
plt.figure(figsize=(12,6))
plt.title('Most Read Books')
sns.barplot(x = 'Count', y = 'Book', data = most_read_books.head(10))

### Top 10. publisher

In [ ]:
top_publishers = df_new['Publisher'].value_counts().reset_index()
top_publishers.columns = ['Publisher' , 'Count']
top_publishers = top_publishers.sort_values('Count', ascending = False)
plt.figure(figsize = (12,8))
sns.barplot(x = 'Count', y = 'Publisher', data = top_publishers.head(10))

### Most popular rating

In [ ]:
plt.figure(figsize=[8,5])
plt.rc('font', size=12)
plt.title('\nMost popular ratings\n')
sns.countplot(data=df_new, x='Book-Rating',palette='Set2')

* Most of users have given above 4 ratings to books 
* 8 is the most common rating given by users

### Most popular book authors

In [ ]:
author = df_new.groupby('Book-Author')['Book-Rating'].count().reset_index().sort_values(by='Book-Rating', ascending=False)[:10]
plt.figure(figsize=[8, 5])
plt.rc('font', size=12)
plt.title('\nMost popular Authors\n')
sns.barplot(data=author, y='Book-Author', x='Book-Rating',palette='Set2')

### Top 10 Rated books

In [ ]:
top_rated = df_new[['Book-Title','Book-Rating']]
top_rated = top_rated.groupby('Book-Title', as_index = False)['Book-Rating'].mean()
top_rated = top_rated.sort_values('Book-Rating', ascending=False).reset_index()
top_rated = top_rated[['Book-Title','Book-Rating']]
sns.barplot(x = 'Book-Rating', y= 'Book-Title', data = top_rated.head(10))
plt.figure(figsize=(12,8))

### Which year did the most books published.

In [ ]:
books_published_per_year = df_new.groupby('Year-Of-Publication')['Book-Title'].count().reset_index()
books_published_per_year.columns = ['Year','Book Count']
top_years = books_published_per_year.sort_values(by='Book Count', ascending=False).head(10)
print('Top 10 Years with the Most Published Books:')
print(top_years)
plt.figure(figsize=(12,8))
sns.barplot(x = 'Year', y = 'Book Count', data = top_years.head(10), color = 'skyblue')
plt.title('Top 10 Years with the Most Published Books', fontsize=18, fontweight='bold')
plt.xlabel('Year', fontsize=14)
plt.ylabel('Number of Books Published', fontsize=14)
plt.xticks(rotation=45, ha='right')
plt.show()

### countries with most readers

In [ ]:
countries = df_new.groupby('Country')['User-ID'].nunique().reset_index().sort_values(by='User-ID', ascending=False)[:10]
sns.barplot(data=countries, y='Country', x='User-ID',palette='Set2')
plt.xlabel('No of users')

* Most of the readers  are from the United States

In [ ]:
user_age = df_new.Age
plt.figure(figsize=(12,8), tight_layout=True)
plt.title('Numbers of users according to the age')
sns.histplot(user_age, bins = 25, linewidth = 2, color = 'blue', edgecolor = 'black')

* The majority of readers are between the ages of 25 and 40.
* Readers who are 80 to 100 years old make up a tiny minority.

## EDA CONCLUSION

* The Lovely Bones: A Novel and Wild Animus are the two most read books.
* Ballantine Books and Pocket are the top publishers based on the number of ratings that their books have received.
* 8 is the most common rating given by users
* Most popular book author based on the number of ratings is Stephan King .
* 2002 is the most book published year
* The majority of readers who have given the books ratings are from the United States and Canada.* 
* The majority of readers are between the ages of 20 and 40.

# Model Building

## Recommendation Systems

In [ ]:
rating_with_name=rating_df.merge(book_df,on='ISBN')

### Top Rating based recommendation system.

In [ ]:
def most_popular(df_new, n):
  if n >= 1 and n <= len(df_new):
    popular = df_new.groupby('ISBN')['Book-Rating'].count().reset_index().sort_values(by='Book-Rating', ascending=False).head(n)
    return pd.merge(popular, book_df, on='ISBN')
  return 'Please enter a valid value of n!'

In [ ]:
most_popular(df_new, 5)

###  Country-based book recommendation

In [ ]:
def country_popular(df_new, country):
  if country in list(df_new.Country.unique()):
    return most_popular(df_new[df_new['Country'] == country], 5) # calling most_popular function to get popular recommendations
  return 'This country is not present in the dataset. Please enter some other country.'

In [ ]:
country_popular(df_new, 'usa')

###   Weighted average rating method

Using Weighted average for each Book’s Average Rating

W = (Rv + Cm)/(v + m)

where

W= Weighted Rating

R = Average of the Books rating

v = No of people who have rated the books(number of votes)

m = minimum no of votes to be listed

C = the mean rating across all the books

#### finding the average rating and number of votes received by books

In [ ]:
df_relevant_data = df_new.groupby(['Book-Title','Book-Author'],as_index=False).agg(avg_rating=('Book-Rating','mean'),ratings_count=('Book-Rating','count'))
v=df_relevant_data['ratings_count']
R=df_relevant_data['avg_rating']
C=df_relevant_data['avg_rating'].mean()
m=int(df_relevant_data['ratings_count'].quantile(0.90))#minimum number of votes to be listed
print(f'The average rating of all the books is {C} and the minimum number of votes required by the books to be listed is {m}  ')

#### Calculating weighted average rating of the books

In [ ]:
df_relevant_data['weighted_average']=round(((R*v)+ (C*m))/(v+m),2)

In [ ]:
df_relevant_data.sort_values(by='weighted_average',ascending=False).head(10)

This is the list of most favored books based on the weighted rating scores. The book 'Harry Potter and the Chamber of Secrets Postcard Book' seems to have top this chart

### Author based recommender system

In [ ]:
def author_based(book_title,number,df_relevant_data=df_relevant_data):
  '''
  To recommend books from the same author as the book entered by the user
  '''
  author=df_relevant_data.loc[df_relevant_data['Book-Title']==book_title]['Book-Author'].unique()[0]
  author_df=df_relevant_data.loc[(df_relevant_data['Book-Author']==author)].sort_values(by='weighted_average',ascending=False)
  print(f'The author of the book {book_title} is {author}\n')
  print(f'Here are the top {number} books from the same author\n')
  top_rec=author_df.loc[(author_df['Book-Title']!=book_title),['Book-Title','weighted_average']].head(number)
  return(top_rec)

#### get book name and number of books to recommend

In [ ]:
book_title = 'Harry Potter and the Chamber of Secrets (Book 2)'
number =5
author_based(book_title,number)

In [ ]:
ratings_with_name = rating_df.merge(book_df,on='ISBN')

In [ ]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

In [ ]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

In [ ]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

In [ ]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)

In [ ]:
popular_df = popular_df.merge(book_df,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]
popular_df['Image-URL-M'][0]

### Collaborative Filtering Based Recommendation System.

Collaborative filtering techniques create a model based on past user activity (items previously purchased, movies viewed and rated, etc.) as well as usage choices made by both current and past users. Then, this model is used to predict the ratings for items or items themselves that the user might be interested in.

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
df_collab = rating_with_name.groupby('User-ID').count()['Book-Title'] > 200
df_user = df_collab[df_collab].index

In [ ]:
filtered_rating = rating_with_name[rating_with_name['User-ID'].isin(df_user)]
filtered_rating.head()

In [ ]:
df_famous = filtered_rating.groupby('Book-Title').count()['Book-Rating'] >=50
famous_book = df_famous[df_famous].index

In [ ]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_book)]

In [ ]:
final_ratings.drop_duplicates()

In [ ]:
df_pt = final_ratings.pivot_table(index = 'Book-Title',columns = 'User-ID', values='Book-Rating' )

In [ ]:
df_pt

In [ ]:
df_pt.fillna(0, inplace = True)
df_pt.head()

In [ ]:
similarity_scores = cosine_similarity(df_pt)
similarity_scores.shape

In [ ]:
def recommend(book_name):
  index = np.where(df_pt.index==book_name)[0][0]
  similar_items  = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse = True)[1:6]

  data = []
  for i in similar_items:
   item = []
   final_df = df_new[df_new['Book-Title'] == df_pt.index[i[0]]]
   item.extend(list(final_df.drop_duplicates('Book-Title')['Book-Title'].values))
   item.extend(list(final_df.drop_duplicates('Book-Title')['Book-Author'].values))
   item.extend(list(final_df.drop_duplicates('Book-Title')['Image-URL-M'].values))

   data.append(item)

  return data

In [ ]:
recommend('1984')

In [ ]:
df_pt.index[545]

In [ ]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [ ]:
book_df.drop_duplicates('Book-Title')

In [3]:
pickle.dump(df_pt,open('pt.pkl','wb'))
pickle.dump(book_df,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))

NameError: name 'pickle' is not defined